* {
  font-family: JetBrains Mono Nerd Font Mono;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

window#waybar {
  color: white;
}

#workspaces button {
  padding-left: 7px;
  padding-right: 7px;
  color: white;
}

#workspaces button.active {
  color: #56A3CF;
}

#battery {
  padding-left: 12px;
}

#custom-separator {
  color: #56A3CF;
  font-weight: 900;
}

#network {
  padding-right: 8px;
}

#pulseaudio.output {
  padding-left: 8px;
  padding-right: 8px;
}

#pulseaudio.input {
  padding-left: 8px;
  padding-right: 16px;
}
