* {
  padding: 0px;
  margin: 0px;
  border: none;
}

window#waybar {
  background-color: #181824;
  font-family: Iosevka Nerd Font Mono;
  font-size: 14px;
  font-weight: bold;
}

#workspaces {
  padding-left: 8px;
  font-size: 16px;
}

#clock {
  padding: 4px;
}

#battery {
  padding-right: 8px;
  font-size: 16px;
}
