* {
  padding: 0px;
  margin: 0px;
  border: none;
}

window#waybar {
  background-color: #181824;
  font-family: Iosevka Nerd Font Mono;
  font-weight: bold;
}

#clock {
  background-color: transparent;
  padding: 4px;
}
