* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

button:hover {
  box-shadow: none; 
  text-shadow: none; 
  background: none; 
  transition: none; 
}

window#waybar {
  background-color: #181824;
  font-family: Iosevka Nerd Font Mono;
  font-size: 14px;
  font-weight: bold;
}

#workspaces {
  padding-left: 8px;
  font-size: 16px;
  font-weight: bolder;
}

#workspaces button {
margin-right: 5px;
  padding: 0px 4px; 
}

#workspaces button.empty {
  opacity: 0.5;
}

#clock {
  padding: 4px;
}

#battery {
  padding-right: 8px;
  font-size: 16px;
}
