* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

button:hover {
  box-shadow: none; 
  text-shadow: none; 
  background: none; 
  transition: none; 
}

window#waybar {
  background-color: #181824;
  font-family: Iosevka Nerd Font Mono;
  font-size: 16px;
  font-weight: bold;
}

#workspaces {
  margin-left: 7px;
  font-weight: bolder;
}

#workspaces button {
  margin-right: 5px;
  padding: 0px 4px; 
}

/*#workspaces button.active {
  background-color: #1C6E8C;
}*/

#workspaces button.empty {
  opacity: 0.5;
}

#clock {
  padding: 4px;
}

#custom-network, #pulseaudio.input, #pulseaudio.output {
  margin-right: 20px;
}

#battery {
  margin-right: 10px;
}
