* {
  font-family: JetBrains Mono Nerd Font Mono;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background-color: transparent;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

window#waybar {
  color: white;
  background-color: #333333;
}

#custom-separator {
  padding-left: 32px;
  padding-right: 32px;
  color: #888888;
}

#workspaces button {
  padding-left: 3px;
  padding-right: 3px;
  color: white;
}

#workspaces button.active {
  color: #ff6a13;
}

#workspaces {
  padding-left: 7px;
  padding-right: 0px;
}

#custom-network {
  padding-left: 32px;
  padding-right: 0px;
}

#custom-date {
  padding-left: 32px;
  padding-right: 0px;
}

#pulseaudio.output {
  padding-left: 32px;
  padding-right: 0px;
}

#pulseaudio.input {
  padding-left: 32px;
  padding-right: 0px;
}

#custom-time {
  padding-left: 32px;
  padding-right: 10px;
}

#workspaces,
#custom-date,
#custom-network,
#custom-separator,
#pulseaudio.output,
#pulseaudio.input,
#custom-time {
  padding-top: 6px;
  padding-bottom: 5px;
}
