  * {
  font-family:
    JetBrainsMono Nerd Font,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 13px;
}

@define-color bg #DDDDDD;
@define-color fg #FFFFFF;
@define-color text #000000;
@define-color highlight #FF0000;
@define-color highlight_text #FFFFFF;

window#waybar {
  background-color: @bg;
  color: @text;
}

button {
  border: none;
}

button:hover {
  text-shadow: inherit;
  background: inherit;
  border: inherit;
}

#workspaces button,
#mode {
  font-weight: bold;
  padding: 0 6px;
}

#workspaces button:hover,
#workspaces button.focused {
  color: @highlight;
}

#workspaces button:only-child.focused {
  color: @text;
}

#workspaces button.urgent,
#mode {
  background-color: @highlight;
  color: @highlight_text;
}

#workspaces button,
#mode,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#backlight,
#custom-network,
#battery,
#clock {
  margin: 3px 3px;
  border-radius: 3px;
}

#workspaces button,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#backlight,
#custom-network,
#battery,
#clock {
  background-color: @fg;
}

#mode,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#backlight,
#custom-network,
#battery,
#clock {
  padding: 0 8px;
}
