* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

@define-color text #ebdbb2;

window#waybar {
  color: @text;
  background: none;

  font-family: Iosevka Nerd Font Propo;
  font-size: 12pt;
  font-weight: 800;
}

#battery {
  padding: 1px 8px;
  border: 3px solid #689d68;
}

#custom-date {
  padding: 1px 8px;
  border: 3px solid #858ae3;
}

#workspaces {
}

#workspaces button {
  padding: 1px 5px;
  color: #ebdbb2;
  border: 3px solid #ebdbb2;
  margin-right: 5px;
}

#workspaces button.active {
  color: #ff0000;
}

#cpu {
  padding: 1px 8px;
  border: 3px solid #d3869b;
}

#memory {
  padding: 1px 8px;
  border: 3px solid #e54b4b;
}

#disk {
  padding: 1px 8px;
  border: 3px solid #ff751f;
}

#pulseaudio.input {
  padding: 1px 8px;
  border: 3px solid #efd28d;
}

#pulseaudio.output {
  padding: 1px 8px;
  border: 3px solid #689d68;
}

#clock {
  padding: 1px 8px;
  border: 3px solid #458588;
}
