* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

@define-color text #ebdbb2;

window#waybar {
  color: @text;
  background: none;

  font-family: Iosevka Nerd Font Propo;
  font-size: 12pt;
  font-weight: 800;
}

#custom-date {
  padding: 1px 8px;
  border: 3px solid #858ae3;
}

#workspaces button {
  padding: 1px 5px;
  color: #fff4d2;
  border: 3px solid #fff4d2;
  margin-right: 5px;
}

#cpu {
  padding: 1px 8px;
  border: 3px solid #d3869b;
}

#memory {
  padding: 1px 8px;
  border: 3px solid #e54b4b;

  /* #e8871e; */
}

#disk {
  padding: 1px 8px;
  border: 3px solid #f37748;
}

#pulseaudio.input {
  padding: 1px 8px;
  border: 3px solid #d8a657;
}

#pulseaudio.output {
  padding: 1px 8px;
  border: 3px solid #6a8532;
}

#clock {
  padding: 1px 8px;
  border: 3px solid #839f9b;
}

#battery {
  padding: 1px 8px;
  border: 3px solid #458588;
}
