* {
  font-family: FiraCode Nerd Font;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

#waybar {
  background-color: @background;
  color: @text;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: none;
  outline: none;
  text-shadow: none;
}

#custom-separator {
  margin: 0 7px;
  font-weight: bold;
  color: @bright;
}

#workspaces {
  color: @text;
  margin: 5px 0px 5px 5px;
  font-weight: bold;
}

#workspaces button {
  padding: 0px 4px;
}

#workspaces button.urgent {
  color: @active;
  font-weight: 900;
}

#workspaces button.active {
  color: @active;
  font-weight: 900;
}

#clock.time {
  margin: 5px 10px 5px 0px;
}
