* {
  font-family: FiraCode Nerd Font;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

window#waybar {
  color: @text;
  font-weight: 400;
  background-color: transparent;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: none;
  outline: none;
  text-shadow: none;
}

#custom-separator {
  margin: 0 7px;
  font-weight: 900;
  color: @bright;
}

.modules-left,
.modules-right {
  color: @text;
  background-color: @background;
  border: 3px solid @border;
}

.modules-right {
  font-weight: 500;
  padding: 0 10px 0 10px;
}

#workspaces {
  font-weight: 700;
}

#workspaces button {
  padding: 0px 4px;
}

#workspaces button.empty {
  color: #888888;
}

/* #workspaces button:not(.empty) {
  color: orangered;
} */

#workspaces button.urgent {
  color: @background;
  background-color: @text;
  font-weight: 900;
}

#workspaces button.active {
  color: @active;
  background-color: @bright;
  font-weight: 900;
}
