@import url("./theme.css");

* {
  font-family: Iosevka Nerd Font Mono;
  font-size: 14px;

  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

window#waybar {
  font-weight: bold;
}

#workspaces {
  margin-left: 6px;
}

#workspaces button {
  padding: 0 6px;
}

/*
#workspaces button.active {
  color: #ff6d0f;
}
*/

#clock {
  padding: 5px;
}

#custom-network,
#custom-audio,
#custom-calendar,
#custom-system {
  padding: 0 12px;
  margin-left: 4px;
}

#custom-system {
  padding-left: 10px;
  padding-right: 14px;
  margin-right: 6px;
}
