[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty
TryExec=kitty
StartupNotify=true
Exec=kitty
Icon=kitty
X-TerminalArgExec=--
X-TerminalArgTitle=--title
X-TerminalArgAppId=--class
X-TerminalArgDir=--working-directory
X-TerminalArgHold=--hold
