[init]
    defaultBranch = "main"

[user]
    name = "Jens Meindertsma"
    email = "mail@jensmeindertsma.com"
    signingKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJhI5sNxApLWYWOKljGuaVzt/6rsAVlAlb2lKv0nPHyD"

[commit]
    gpgsign = true

[gpg]
    format = "ssh"

[gpg "ssh"]
    allowedSignersFile = "~/.git_allowed_signers"

[tag]
    gpgsign = true

[push]
    autoSetupRemote = true
    followTags = true

[pull]
    rebase = false

[alias]
    setup = "!git commit --allow-empty -m 'Initial commit' && git push"
[safe]
	directory = C:/Users/Jens/Projects/jensmeindertsma/config
