[Desktop Entry]
Name[bg]=Визуализатор на TigerVNC
Name[cs]=Prohlížeč TigerVNC
Name[de]=TigerVNC-Betrachter
Name[es]=Visor TigerVNC
Name[fi]=TigerVNC-katselin
Name[id]=Penampil TigerVNC
Name[ka]=TigerVNC-ის დამთვალიერებელი
Name[ro]=Vizor TigerVNC
Name[sk]=Prehliadač TigerVNC
Name[sv]=TigerVNC-visare
Name[uk]=Засіб перегляду TigerVNC
Name[zh_TW]=TigerVNC 檢視器
Name=TigerVNC viewer
GenericName[bg]=Визуализатор на отдалечени работни места
GenericName[cs]=Prohlížeč vzdálené plochy
GenericName[de]=Betrachter für ferne Bildschirme
GenericName[es]=Visor de escritorio eemoto
GenericName[fi]=Etätyöpöytäkatselin
GenericName[id]=Penampil desktop jarak jauh
GenericName[ka]=დაშორებული სამუშაო მაგიდის კლიენტი
GenericName[ro]=Vizor pentru birou la distanță
GenericName[sk]=Prehliadač vzdialenej plochy
GenericName[sv]=Fjärrskrivbordsvisare
GenericName[uk]=Засіб перегляду віддаленої стільниці
GenericName[zh_TW]=遠端桌面檢視器
GenericName=Remote desktop viewer
Comment[bg]=Свързване към сървър за VNC и визуализация на отдалечено работно място
Comment[cs]=Připojí se k severu VNC a zobrazí vzdálenou plochu
Comment[da]=Forbind til VNC-server og vis eksternt skrivebord
Comment[de]=Mite einem VNC-Server verbinden und einen fernen Desktop anzeigen
Comment[el]=Σύνδεση σε ένα εξυπηρετητή VNC και εμφάνιση του απομακρυσμένου επιφάνειας εργασίας
Comment[eo]=Konekti al servilo VNC kaj montrigi deforan labortablon
Comment[es]=Conecta al servidor VNC y muestra el escritorio remoto
Comment[fi]=Yhdistä VNC-palvelimeen ja näytä etätyöpöytä
Comment[fr]=Se connecter à un serveur VNC et afficher le bureau à distance
Comment[fur]=Conet a un servidôr VNC e visualize il scritori lontan
Comment[he]=התחברות לשרת VNC והצגת שולחן עבודה מרוחק
Comment[hu]=Kapcsolódás VNC-kiszolgálóhoz és távoli asztal megjelenítése
Comment[id]=Sambungkan ke server VNC dan tampilkan desktop jarak jauh
Comment[ko]=VNC 서버와 연결하고 원격 데스크톱을 보입니다
Comment[pt_BR]=Conecte a um servidor VNC e exiba a área de trabalho remota
Comment[ro]=Se conectează la serverul VNC și afișează biroul de la distanță
Comment[ru]=Подключиться к серверу VNC и показать удалённый рабочий стол
Comment[sk]=Pripojiť sa na VNC server a zobraziť vzdialenú plochu
Comment[sr]=Повежите се на ВНЦ сервер и прикажите удаљену радну површ
Comment[sv]=Anslut till en VNC-server och visa ett fjärrskrivbord
Comment[tr]=VNC sunucusuna bağlanın ve uzak masaüstünü görüntüleyin
Comment[uk]=З'єднання із сервером VNC і показ віддаленої стільниці
Comment[vi]=Kết nối đến máy phục vụ VNC và hiển thị màn hình từ xa
Comment[zh_CN]=连接到 VNC 服务器并显示远程桌面
Comment[zh_TW]=連線到 VNC 伺服器並顯示遠端桌面
Comment=Connect to VNC server and display remote desktop
Exec=/usr/bin/vncviewer
Icon=tigervnc
Terminal=false
Type=Application
StartupWMClass=vncviewer
Categories=Network;RemoteAccess;
Hidden=true