* {
  font-family: FiraCode Nerd Font;
  font-size: 13px;
  padding: 0px;
  margin: 0px;

  color: @text;
}

window#waybar {
  background-color: transparent;
}

.modules-right {
  padding: 0px 10px;
  border: 4px solid @border;

  color: @text;
  background-color: @background;

  font-weight: 600;
}

#workspaces,
#mpris,
#custom-group {
  border: 4px solid @border;

  color: @text;
  background-color: @background;

  font-weight: 600;
}

#workspaces {
  padding: 2px;
  margin-right: 16px;

  font-weight: 900;
}

/* WORKSPACE */
#workspaces button label {
  padding: 3px 7px;
  border: 2px solid transparent;
  border-radius: 0;

  color: @text;
}

#workspaces button.active label {
  background-color: @background;
  border-color: @bright;
}

#workspaces button.active:hover label {
  border-color: @bright;
  color: inherit;
  font-weight: 900;
}

#workspaces button.urgent label {
  background-color: @bright;
  color: @background;
}

#workspaces button:hover label {
  background-color: @background;
  border-color: @text;

  color: @text;

  font-weight: 900;
}

#workspaces button.empty label {
  color: @text-dimmed;

  font-weight: 600;
}

#workspaces button.empty:hover label {
  color: @text-dimmed;

  font-weight: 900;
}

/* MPRIS */
#mpris,
#custom-group {
  padding: 0px 12px;
}

#mpris {
  margin-right: 16px;
}

#custom-group {
  font-weight: 600;
}

/* SEPARATOR */
#custom-separator {
  margin: 0px 10px;

  color: @bright;

  font-weight: bold;
}
