/* TODO: remove this and specify dark-light separately!*/
@define-color main-bg #333333;
@define-color main-fg #FFFFFF;


@define-color arch #1793D1;

* {
    font-family: "JetBrainsMono Nerd Font Mono", sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border-bottom: 0;
    color: @main-fg;
    transition-duration: 0;
}


button {
    box-shadow: none;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#custom-logo {
    color: @arch;
}

#workspaces {
    background-color: @main-bg;
}

#workspaces button {
    color: @main-fg;
    background-color: transparent;
}

#workspaces button:hover {
    box-shadow: none;
}

#workspaces button.active {
    color: @arch;
}

#workspaces button.urgent {
    background-color: red;
    color: white;
}


#custom-logo,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio ,
#workspaces {
    background-color: @main-bg;
}

#window,
#workspaces {
    margin: 0;
}
